# 👇 Evita subir entornos virtuales
.venv/
venv/

# 👇 Archivos Python compilados
__pycache__/
*.pyc
*.pyo

# 👇 Archivos que no se deberia subir al github
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
function.zip

# 👇 Archivos de logs temporales
*.log

# Entornos virtuales
.venv/
env/
